# ------------------------------------------------------------------------------
# Settings
# ------------------------------------------------------------------------------

# By default the `full` goal is executed.
.DEFAULT_GOAL := full

# Docker Hub user needed for pushing images.
LOGIN := sdwolfz

# Extra arguments for `docker build`
BUILD_ARGS :=

# Ruby version used for scripting.
RUBY_VERSION := 3.1.2

# ------------------------------------------------------------------------------
# Helpers
# ------------------------------------------------------------------------------

DOCKER_HERE := docker run --rm -it -u `id -u`:`id -g` -v "$(PWD)":/here -w /here

# ------------------------------------------------------------------------------
# Utility goals
# ------------------------------------------------------------------------------

# # help
#
# Displays a help message containing usage instructions and a list of available
# goals.
#
# Usage:
#
# To display the help message run:
# ```bash
# make help
# ```
.PHONY: help
help:
	@echo 'Usage: make [<GOAL_1>, ...] [<VARIABLE_1>=value_1, ...]'
	@echo ''
	@echo 'Examples:'
	@echo '  make'
	@echo '  make help'
	@echo '  make full'
	@echo ''
	@echo 'Utility goals:'
	@echo '  - help:   Displays this help message.'
	@echo ''
	@echo 'Project goals:'
	@echo '  - full:     Builds and pushes all images.'
	@echo '  - build:    Builds all images.'
	@echo '  - push:     Pushes all images.'
	@echo '  - generate: Updates this Makefile.'
	@echo '  - ci:       Runs the project linters.'

# ------------------------------------------------------------------------------
# Project goals
# ------------------------------------------------------------------------------

.PHONY: shell/generate
shell/generate:
	@$(DOCKER_HERE) ruby:$(RUBY_VERSION)-alpine ruby scripts/generate.rb

.PHONY: generate
generate:
	@ruby scripts/generate.rb

# ------------------------------------------------------------------------------
# CI
# ------------------------------------------------------------------------------

.PHONY: ci
ci: ci/diff ci/editorconfig ci/hadolint ci/yamllint

.PHONY: ci/diff
ci/diff:
	@$(DOCKER_HERE) sdwolfz/git:latest make lint/diff

.PHONY: ci/editorconfig
ci/editorconfig:
	@$(DOCKER_HERE) sdwolfz/editorconfig-checker:latest make lint/editorconfig

.PHONY: ci/hadolint
ci/hadolint:
	@$(DOCKER_HERE) sdwolfz/hadolint:latest make lint/hadolint

.PHONY: ci/yamllint
ci/yamllint:
	@$(DOCKER_HERE) sdwolfz/yamllint:latest make lint/yamllint

# ------------------------------------------------------------------------------
# Lint

.PHONY: lint/diff
lint/diff:
	@git diff --exit-code

.PHONY: lint/editorconfig
lint/editorconfig:
	@editorconfig-checker .

.PHONY: lint/hadolint
lint/hadolint:
	@find . -name Dockerfile | xargs hadolint

.PHONY: lint/yamllint
lint/yamllint:
	@yamllint .

# ------------------------------------------------------------------------------
# Default
# ------------------------------------------------------------------------------

.PHONY: full
full: shell/generate build push

<%- @images.each do |image| -%>
.PHONY: full/<%= image[:name] %>
full/<%= image[:name] %>: build/<%= image[:name] %> push/<%= image[:name] %>
<%- end -%>

# ------------------------------------------------------------------------------
# Build
# ------------------------------------------------------------------------------

.PHONY: build
build: \
<%- @images.each do |image| -%>
	build/<%= image[:name] %> \
<%- end -%>

<%- @images.each do |image| -%>
	<%- tags = image[:tags].map { |tag| "-t $(LOGIN)/#{ image[:name] }:#{ tag }"}.join(' ') -%>
.PHONY: build/<%= image[:name] %>
build/<%= image[:name] %>:
	@docker build $(BUILD_ARGS) --pull <%= tags %> ./<%= image[:path] %>
<%- end -%>

# ------------------------------------------------------------------------------
# Push
# ------------------------------------------------------------------------------

.PHONY: push
push: \
<%- @images.each do |image| -%>
	push/<%= image[:name] %> \
<%- end -%>

<%- @images.each do |image| -%>
	<%- tags = image[:tags].map { |tag| "$(LOGIN)/#{ image[:name] }:#{ tag }"} -%>
.PHONY: push/<%= image[:name] %>
push/<%= image[:name] %>:
	<%- tags.each do |tag| -%>
	@docker push <%= tag %>
	<%- end -%>
<%- end -%>
