# Docker Images

| Name                                             | Image                                                                           |
|--------------------------------------------------|---------------------------------------------------------------------------------|
<%- @values['public'].each_value do |image| -%>
| [<%= image['name'] %>](<%= image['homepage'] %>) | [<%= image['published'] %>](https://hub.docker.com/r/<%= image['published'] %>) |
<%- end -%>

## Requirements

| Name     | Link                               |
|----------|------------------------------------|
| `bash`   | https://www.gnu.org/software/bash  |
| `docker` | https://docs.docker.com/get-docker |
| `make`   | https://www.gnu.org/software/make  |
| `ruby`   | https://www.ruby-lang.org/         |

## Update

Run the `generate` script to update the `Makefile` and `Dockerfile` versions:

```sh
make generate
```

## Run

1. Login to docker hub (https://hub.docker.com):

```sh
docker login
```

2. Build and push:

```sh
make
```

3. Add extra build args:

```sh
make BUILD_ARGS=--no-cache
```

## Lint

Run all linters using docker images:

```sh
make ci
```

Individual linters without docker:

```sh
make lint/editorconfig
make lint/hadolint
make lint/yamllint
```

## License

The rest of the code is covered by the BSD 3-clause License, see
[LICENSE](LICENSE) for more details.
